*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
   height:100px;
   display: flex;
   justify-content: space-around;
   align-items:center;
}

ul.myclass{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

ul li a{
    padding:0 20px;
    text-decoration: none;
    columns: #3a3a3a;
    display: inline-block;
}
li a::after{
    content:'';
    display: block;
    height:4px;
    width:0;
    background : #c4c4f7;
    transition : all .5s
}

li a:hover::after{
    width:100%;
}
main{
    display: flex;
    height:76vh;
    flex-direction: column;
    position: relative;
    left:10px;
}
footer{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    top:10px;
}